# Node / JavaScript
/node_modules/
**/node_modules/
npm-debug.log*
**/.__mf__temp/
**/.__mf__temp/
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tgz

# Build / output
dist/
build/
out/
.next/
.parcel-cache/
.cache/
coverage/
.nyc_output/

# Turborepo
.turbo/

# Environment
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Others
.pnp
.pnp.js